<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <center>
        <h1>Welcome to MyWebsite</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta fugiat repellat voluptate ipsam voluptas facilis perferendis dignissimos praesentium molestias ex? Quos illo corporis non ipsa, qui obcaecati totam animi aspernatur molestias eos magni magnam iure quibusdam temporibus laudantium ex. Voluptatem incidunt repudiandae rem, perspiciatis maxime officia ad ullam assumenda, necessitatibus explicabo nostrum labore non tenetur, minima illum dolorem. Assumenda architecto possimus culpa voluptatibus atque ab praesentium velit quod sequi reiciendis et, quisquam in voluptate deserunt, vero tenetur magnam a nesciunt. Culpa atque id maiores, reprehenderit, minima voluptate nihil soluta libero doloribus ut vel similique aliquam, harum ratione. Modi, unde quos.</p>
    </center>
</body>
</html>